<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% include head_meta.html %}
  <script defer src="https://umami.fiftysix.dev/script.js" data-website-id="e59fd1ec-7fb0-4918-82cc-f11773a51fd8"></script>
  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
  <header>
      {% include term-nav.html %}
      {% include term-prompt.html pwd=page.pwd cmd=page.cmd %}
  </header>
  <div class="hack container">
    {{content}}
  </div>
</body>
</html>
